<extend name="Install@Index/index" />
<block name='var'>
	<assign name="publicScript[]" value="validator/js/bootstrapValidator.min" />
	<assign name="publicCss[]" value="validator/css/bootstrapValidator.min" />
</block>
<block name='title'>{$Think.lang.setConfig}</block>
<block name="control">
	<h4 class="text-primary">{$Think.lang.setData}</h4>
	<form method="post" id="dataForm" class="form-horizontal" action="{:U('Install/Install/step',array('step'=>2))}" novalidate="novalidate">
		<div class="alert alert-info" role="alert">{$Think.lang.setIntroduction}</div>
		<div class="form-group has-feedback">
            <label class="col-lg-3 control-label">{$Think.lang.dataName}</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="dbname" data-bv-field="dbname" placeholder="{$Think.lang.dataName}">
              </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">{$Think.lang.userName}</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="uname" data-bv-field="uname" placeholder="{$Think.lang.userName}">
             </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">{$Think.lang.passWord}</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="passWord" data-bv-field="passWord" placeholder="{$Think.lang.passWord}">
             </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">{$Think.lang.host}</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="dbhost" data-bv-field="dbhost" placeholder="{$Think.lang.host}">
             </div>
        </div>
        <!-- <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">{$Think.lang.domain}</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="domain" data-bv-field="domain" placeholder="{$Think.lang.domain}">
             </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-lg-3 control-label">{$Think.lang.siteCode}</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="siteCode" data-bv-field="siteCode" placeholder="{$Think.lang.siteCode}">
             </div>
        </div> -->
		<p class="step">
		<button type="submit" class="btn btn-primary">{$Think.lang.submit}</button></p>
	</form>
</block>
<block name='footScripts'>
	<script>
		var noempty = '{$Think.lang.noempty}';
		var preg_w = '{$Think.lang.preg_w}';
		var noValidate = '{$Think.lang.noValidate}';
		var preg_w_wn = '{$Think.lang.preg_w_wn}';
		var maxLength30 = '{$Think.lang.maxLength30}';
		<assign name="publicScript[]" value="js/installStep1" />
	</script>
</block>
