<!DOCTYPE html>
    <block name='var'></block>
    <html class="{$htmlClss}">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7;IE=9;IE=10;IE=Edge;IE=8">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><block name='title'></block></title>
        <meta name="keywords" content="<block name='keywords'></block>" />
        <meta name="description" content="<block name='description'></block>" />
        <link rel="stylesheet" media="screen" href="{$Think.config.PUBLIC_PATH}/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" media="screen" href="{$Think.config.PUBLIC_PATH}/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" media="screen" href="{$Think.config.PUBLIC_PATH}/css/theme.css" />
        <block name='stylesheets'>
            
        </block>
        <!--[if lt IE 9]>
            <script src="{$Think.config.PUBLIC_PATH}/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
        <script src="{$Think.config.PUBLIC_PATH}/js/ie-emulation-modes-warning.js"></script>
        <!--[if lt IE 9]>
            <script src="{$Think.config.PUBLIC_PATH}/js/html5shiv.min.js"></script>
            <script src="{$Think.config.PUBLIC_PATH}/js/respond.min.js"></script>
        <![endif]-->
        <block name='headScripts'></block>
        </head>
        <body class="{$bodyClss}">
            
            <block name="header"></block>
            <block name="content"></block>
            <block name="foot"></block>
            
            <div id="modal" class="modal" <notempty name="modalKeyBoard">data-keyboard="false"</notempty></div>
            <block name="modal"></block>
            <block name="bottom"></block>
            <script src="{$Think.config.PUBLIC_PATH}/jquery/jquery.min.js"></script>
            <script src="{$Think.config.PUBLIC_PATH}/bootstrap/js/bootstrap.min.js"></script>
            <script src="{$Think.config.PUBLIC_PATH}/js/ie10-viewport-bug-workaround.js"></script>
            <script>
                var themePath = '{$themePath}';
                var public = '{$Think.config.PUBLIC_PATH}/';
            </script>
            <block name='footScripts'></block>
        </body>
    </html>