<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7;IE=9;IE=10;IE=Edge;IE=8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <block title>
    </block>
</title>
<meta name="keywords" content="<block keywords><block>" />
<meta name="description" content="<block description><block>" />
<meta property="wb:webmaster" content="b4b8bd8943389d26" /><!--新浪第三方接入-->
<meta content="" name="csrf-token" />


<block stylesheets>
    <link rel="stylesheet" media="screen" href="{{ asset('assets/css/common.css') }}?{{ getVersion() }}" />

</block>
    <!--[if lt IE 8]>
      <link href="" rel="stylesheet">
      <![endif]-->
    <!--[if lt IE 9]>
      <script src=""></script>
      <![endif]-->

      <!-- [if IE 8]
      <script  src=""></script>
      <![endif]-->

      <block head_scripts>
      </block>


  </head>


  <body>

    <block body>
       <div class="navbar navbar-inverse site-navbar" id="site-navbar">
        <div class="container-gap container">

        </div>
        <div class="bg-navbar collapse navbar-collapse">
            <div class="container">
                <div class="">

                </div>
            </div>
        </div>
        <div class="navbar-hr"></div>
    </div>

    <block home_page_new_banner></block>

    <div id="content-container" class="">

      <block content></block>
  </div>

  <block bottom></block>
  <div id="modal" class="modal" {% if modalKeyBoard %}data-keyboard="false"{% endif %}></div>
</block>

<include file='script_boot.html'>

</body>
</html>