<extend name="Base@Base/base" />

<block name="header">
	<ol class="breadcrumb">
		<li><a href="{:U('Install/Index/index')}"  class="active text-danger">安装协议</a></li>
		<li><a href="javascript:;">环境检测</a></li>
		<li><a href="javascript:;">创建数据库</a></li>
		<li><a href="javascript:;">安装</a></li>
		<li><a href="javascript:;">完成</a></li>
	</ol>
</block>

<block name="body">

	<div class="container panel panel-default">
	<header>
		<h1 class="text-center">{$Think.lang.__NAME__}安装协议</h1>

		<section class="text-muted">{$Think.lang.copyright}</section>
	</header>
	<section class="article-content" style="text-indent: 2em">
		<p>{$Think.lang.youUse}</p>
		<p>{$Think.lang.install_agreement}</p>
	</section>
	
	<block name="footer">
	<a class="btn btn-primary" href="{:U('Install/Install/step',array('step'=>1))}">{$Think.lang.nowInstall}</a><p></p>
	</block>
	</div>
</block>

